.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 0px 0px 60px 0px;
}
.quiz-container {
  max-width: 400px;
  min-width: 250px;
  background-color: #282828;
  border-radius: 4px;
  margin-top: 30px;
  padding: 20px 50px;
  color: white;
  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.08),0px 4px 8px rgba(0, 0, 0, 0.08),0px 6px 12px rgba(0, 0, 0, 0.08);;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #fff;  
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  background: #1a1a1a;
  border: 1px solid #eff1f6bf;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #1f1e25;
  border: 1px solid #fff;
  color: white;
}

.quiz-container button {
  background: #1a1a1a;
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #1a1a1a;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #fff;
  font-size: 22px;
}

.quesCount{
  display: flex;
}