.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  padding: 12px;
  margin: 5px 0px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 16px;
  color: gray;
}

i {
  font-size: 13px;
  color: rgb(255, 33, 33);
  display: none;
  margin-top: -5px;
}

input:invalid[focused="true"] {
  border: 2px solid red;
}

input:invalid[focused="true"] ~ i {
  display: block;
}
